<!doctype html>
<head>
	<title>Welcome</title>
	<link href="css/main.css" rel="stylesheet" type="text/css">
	<link href="css/bootstrap/css/bootstrap.css" rel="stylesheet">
	<script src="js/jquery.js"></script>
	<script src="js/script.js" type="text/javascript" language="javascript"></script>
</head>



<body>

	<div class = "container">
			<div class="col-sm-10 col-centered  landing-content">
				<div class="col-centered text-center">
					<h1 id="title"><span class="contrast">FIND YOUR PEOPLE</span></h1>
				<br>

						<h2>Welcome</h2>


				</div>
				<br>
			</div>



		<form method="post" action="/results" class = "col-sm-8 col-centered">  <!--should action be /signup -->


			<fieldset class="form-group">
				<legend>What are your interests?</legend>
			 <div class="form-group">

			 </div>

			 <fieldset class="form-group">
				<p>What do you like?</p>
			 <div class="form-check">
			    <label class="form-check-label">
			      <input type="checkbox" class="form-check-input">
			      Theatre
			    </label>
			  </div>
			   <div class="form-check">
			    <label class="form-check-label">
			      <input type="checkbox" class="form-check-input">
			      Music
			    </label>
			  </div>
			   <div class="form-check">
			    <label class="form-check-label">
			      <input type="checkbox" class="form-check-input">
			      Food
			    </label>
			  </div>
			</fieldset>


			<button class="btn-custom btn col-xs-2 col-sm-2" type="submit" id="submit">Submit</button>
		</form>

	</div> <!-- container end -->
</body>
